@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-inter: "Inter", sans-serif;
}

body {
  font-family: var(--font-inter);
  background-color: #000000; /* dark:bg-black ile uyumlu */
  color: #ffffff; /* text-white ile uyumlu */
  margin: 0; /* Varsayılan boşlukları sıfırla */
  padding: 0; /* Varsayılan dolguları sıfırla */
  box-sizing: border-box; /* Kutu modelini tutarlı yap */
}

* {
  box-sizing: inherit;
}